<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %> 
    <!-- If you would like to add new css link -->
    <link rel="stylesheet" href="/styles/dashboard.css">
</head>
<body>
    <%- include('partials/header.ejs') %> 
    <main>
        <div class="board">
            <div class="info-container">
                <h1><%= user.name %></h1>
                <div class="user-info">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam temporibus labore incidunt quo id, itaque tenetur similique perspiciatis suscipit libero minus quos rem praesentium error est. Aliquid laboriosam doloremque est autem perspiciatis perferendis, animi illo ex, inventore consectetur omnis! Quasi, sequi accusamus velit ducimus maiores veritatis quod expedita molestias, excepturi vel saepe dolore amet necessitatibus possimus, repellendus corrupti nesciunt aspernatur illum? Voluptate praesentium sapiente vel possimus nulla odit, minima, dolore eaque corrupti voluptatem alias eius itaque dolor consequatur, incidunt voluptates sint. Consectetur praesentium nam officia ab! Molestias optio, velit nobis atque, ipsa sapiente repellat quis dolores sed totam possimus impedit officia quia animi esse maxime accusamus laudantium adipisci neque, hic qui deserunt. Modi aperiam repellendus, eos consectetur cupiditate harum architecto nobis veritatis aliquid, eligendi mollitia blanditiis voluptate consequuntur explicabo fuga minima expedita tempore? Nostrum nam illum error excepturi autem, cupiditate sit veritatis a rerum illo ullam corporis dolor quod distinctio.
                </div>
            </div>
            <div class="user-image"></div>
        </div>
    </main>

    <script src="/scripts/animate.js"></script>
</body>
</html>