<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %> 
    <link rel="stylesheet" href="/styles/index.css">
    <!-- If you would like to add new css link -->
</head>
<body>
    <%- include('partials/header.ejs') %> 
    <main>
        <div class="text">
          <h1 class="title">SMC</h1>
          <h2 class="title">Whenever You Want</h2>
          <h2 class="title">Explore the SMC world</h2>
        </div>  
    </main>

    <script src="/scripts/animate.js"></script>
</body>
</html>