<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %> 
    <!-- If you would like to add new css link -->
    <link rel="stylesheet" href="/styles/login.css">
</head>
<body>
    <%- include('partials/header.ejs') %> 
    <main>
        <div class="login-img"></div>
        <div class="form-container">
            <form action="users/login" id="loginform" method="post" autocomplete="off">
                <h1 class="title">Welcome to SMC</h1>
                <div class="form-controller title">
                    <label for="emailError">Email</label>
                    <input type="text" name="email" placeholder="Type your email" />
                    <div id="emailError" class="error"></div>
                </div>
                <div class="form-controller title">
                    <label for="password">Password</label>
                    <input type="password" name="password" placeholder="Type your password" />
                    <div id="password" class="error"></div>
                </div>
                <div class="form-controller title">
                    <input type="submit" class="title" />
                    <a id="forget-pass">Foggotten Password</a>
                </div>
            </form>
        </div>
    </main>

    <!-- Reset Password Modal Start -->    
    <div id="password-modal" class="modal">
        <form action="users/resetpasswordemail" id="editForm" autocomplete="off" >
            <h3 class="modal-title">Reset Password <span id="close-password">X</span></h3>
            <div class="form-controller ">
                <label for="emailforpass">Email</label>
                <input type="text" id="emailforpass" name="emailforpass" placeholder="Type your email" />
                <div class="error"></div>
            </div>
            <input id="resetSubmitBtn" type="submit" />
        </form>
    </div>
    <!-- Reset Password Modal End -->


    <!-- Toast Modal Start -->
    <div id="toast" class="toast">
        <div class="toast-title-container">
            <div>SMC</div>
        </div>
        <div class="toast-content-container">
            Lorem ipsum dolor sit amet.
        </div>
    </div>
    <!-- Toast Modal End -->

    <script src="/scripts/animate.js"></script>
    <script src="/scripts/login.js"></script>
</body>
</html>