<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %> 
    <!-- If you would like to add new css link -->
    <link rel="stylesheet" href="/styles/register.css">
</head>
<body>
    <%- include('partials/header.ejs') %> 
    <main>
        <div class="login-img"></div>
        <div class="form-container">
            <form action="users/register" method="post" autocomplete="off">
                <h1 class="title">Create Account</h1>
                <div class="form-controller title">
                    <label for="name">Username</label>
                    <input type="text" name="name" placeholder="Type your username" />
                    <div id="name" class="error"></div>
                </div>
                <div class="form-controller title">
                    <label for="email">Email</label>
                    <input type="text" name="email" placeholder="Type your email" />
                    <div id="email" class="error"></div>
                </div>
                <div class="form-controller title">
                    <label for="password">Password</label>
                    <input type="password" name="password" placeholder="Type your password" />
                    <div id="password" class="error"></div>
                </div>
                <input type="submit" class="title" />
            </form>
        </div>
    </main>

    <script src="/scripts/animate.js"></script>
    <script src="/scripts/register.js"></script>
</body>
</html>