<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %> 
    <!-- If you would like to add new css link -->
    <link rel="stylesheet" href="/styles/login.css">
</head>
<body>
    <%- include('partials/header.ejs') %> 
    <main>
        <!-- <div class="login-img"></div> -->
        <div class="form-container">
            <form action="users/resetpassword" id="resetPass" autocomplete="off">
                <h1 class="title">SMC Reset Password</h1>
                <div class="form-controller title">
                    <label for="password">New Password</label>
                    <input type="password" id="newpass" name="newpass" placeholder="Type your password" />
                    <div id="password" class="error"></div>
                </div>
                <div class="form-controller title">
                    <input type="submit" class="title" />
                </div>
            </form>
        </div>
    </main>

    <!-- Reset Password Modal Start -->    
    <!-- <div id="password-modal" class="modal">
        <form id="editForm" autocomplete="off" >
            <h3 class="modal-title">Reset Password <span id="close-password">X</span></h3>
            <div class="form-controller ">
                <label for="emailforpass">Email</label>
                <input type="text" id="newpass" name="newpass" placeholder="Type your email" />
                <div class="error"></div>
            </div>
            <input id="resetSubmitBtn" type="submit" />
        </form>
    </div> -->
    <!-- Reset Password Modal End -->


    <!-- Toast Modal Start -->
    <div id="toast" class="toast">
        <div class="toast-title-container">
            <div>SMC</div>
        </div>
        <div class="toast-content-container">
            Lorem ipsum dolor sit amet.
        </div>
    </div>
    <!-- Toast Modal End -->

    <script src="/scripts/animate.js"></script>
    <script src="/scripts/resetpassword.js"></script>
</body>
</html>