<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %> 
    <!-- If you would like to add new css link -->
    <link rel="stylesheet" href="/styles/resetpassword.css">
</head>
<body>
    <%- include('partials/header.ejs') %> 
    <main>
        <div class="login-img"></div>
        <div class="form-container">
            <form action="users/resetpassword" id="resetPass" autocomplete="off">
                <h1 class="title">Reset Password</h1>
                <div class="form-controller title">
                    <label for="password">New Password</label>
                    <input type="password" id="newpass" name="newpass" placeholder="Type your password" />
                    <div id="password" class="error"></div>
                </div>
                <div class="form-controller title">
                    <input type="submit" class="title" />
                </div>
            </form>
        </div>
    </main>


    <!-- Toast Modal Start -->
    <div id="toast" class="toast">
        <div class="toast-title-container">
            <div>SMC</div>
        </div>
        <div class="toast-content-container">
            Lorem ipsum dolor sit amet.
        </div>
    </div>
    <!-- Toast Modal End -->

    <script src="/scripts/animate.js"></script>
    <script src="/scripts/resetpassword.js"></script>
</body>
</html>