* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header start */

header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 10px 30px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.7);
    z-index: 5;
}

header ul {
    display: flex;
    align-items: center;
}

header a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    font-size: 30px;
    font-style: italic;
}

/* Navbar start */

nav li {
    display: inline-flex;
}

nav a {
    display: block;
    font-size: 16px;
    padding: 7px 15px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

nav a::after {
    content: "";
    display: block;
    background-color: rgba(255, 0, 0, 0.5);
    width: 0px;
    height: 2px;
    position: relative;
    transition: all 0.5s ease-in-out;
}

nav a:hover::after {
    width: 100%;
}

.active::after {
    width: 100%;
}

nav #loggout {
    padding: 0;
    font-size: 0;
}

nav #loggout::after {
    display: none;
}

nav #setting-icon {
    transition: all 0.4s ease-in;
    cursor: pointer;
}

nav #setting-icon:hover {
    transform: rotate(720deg);
}

nav svg {
    margin: 0 12px;
}

/* Navbar end */

/* Header end */

.fadeIn {
    opacity: 1;
    bottom: 0;
}

@media screen and (min-width: 1920px) {
}

@media screen and (max-width: 1680px) {
}

@media screen and (max-width: 1600px) {
}

@media screen and (max-width: 1536px) {
}

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1366px) {
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 600px) {
    body,main{
        height: 100dvh;
    }
    header {
        padding: 10px 15px;
    }
    header ul {
        margin-bottom: -2px;
        line-height: 24px;
    }
    nav a {
        padding: 5px;
    }
    nav li:last-child a {
        display: flex;
    }
    nav svg {
        margin: 0 8px;
    }
}
