@import "./dashboard.css";

main .user-image img {
    cursor: auto;
}

#photos {
    padding: 3%;
}

.info-user-title {
    display: flex;
    align-items: center;
    position: relative;
}

.info-user-title h1 {
    width: 100%;
}

.info-user-title a {
    width: max-content;
    padding: 7px 10px;
    position: absolute;
    right: 0;
    color: rgba(0, 0, 0, 0.6);
    font-style: italic;
    background-color: lightblue;
    border: 1px solid lightblue;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.4s ease-in;
}

.info-user-title a:hover {
    box-shadow: 0 0 20px lightblue;
}
